<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .ui {
        
        font-style: bold;
        height: 100vh;
        background-attachment: fixed;
        background-size: 100% 100%;
        margin-left: 100px;
        padding-left: 10%;
        font-size: 1.5rem;
        color: black;
        display: flex;
        display: inline;
        text-align:center;
    }
    .btn{
        background-origin: padding-box;
        border: 1cm;
        border-radius: 0.5cm;
        width: 2cm;
        height: 1cm;
    }
    input{
        width: 300px;
        height: 50px;
        background-color:white;
        border: 1px;
        border-radius: 10px;
    }
    table, th, td {
  border:1px solid black;
}
.header{
  border-bottom: 100%;
  border-color: black;
  color: white;
  font-size: 30px;
}
img{
  height: 10rem;
  width: 10rem;
}
</style>

<body>
  <div class="header">
     <image src="https://upload.wikimedia.org/wikipedia/en/b/b8/National_Institute_of_Technology%2C_Hamirpur_Logo.png"></image>
     <br>
     <h1>National Institute of Technology Hamirpur (H.P.)  </h1>
  </div>
    <form class="ui">
        <h1>Registration Form</h1>
        <div class="form-group mb-3 ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1" >Roll Number</span>
            </div>
            <input type="text" class="form-control" placeholder="Roll No." aria-label="Roll No."
                aria-describedby="basic-addon1" required>
        </div>
        <div class="form-group mb-3 ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Registration Semester Number</span>
            </div>
            <input type="text" class="form-control" placeholder="semester No." aria-label="semester No."
                aria-describedby="basic-addon1" required>
        </div>
        <div class="form-group mb-3 ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Hostel Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Hostel Name" aria-label="Hostel Name"
                aria-describedby="basic-addon1" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Hostel Room No.</span>
            </div>
            <input type="text" class="form-control" placeholder="Hostel Room No." aria-label="Hostel Room No."
                aria-describedby="basic-addon1" required>
        </div>

        <div class="form-group  mb ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name Of Department</span>
            </div>
            <input type="text" class="form-control" placeholder="Department" aria-label="Department"
                aria-describedby="basic-addon1" required>
        </div>
        <div class="form-group  mb ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Programme</span>
            </div>
            <input type="text" class="form-control" placeholder="Programme" aria-label="Programme"
                aria-describedby="basic-addon1" required>
        </div>
        <div class="form-group  mb ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
            <input type="text" class="form-control" placeholder="name" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
        <div class="form-group mb">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Email</span>
            </div>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="email" required>

        </div>
        <div class="form-group mb">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Phone</span>
            </div>
            <input type="number" class="form-control" id="phone" 
                placeholder="Phone" required>

        </div>
        <div class="form-group mb">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">PinCode</span>
            </div>
            <input type="number" class="form-control" id="PinCode" 
                placeholder="PinCode" required>

        </div>
        <br>
        <div class="form-group">
            <label for="enteraddress">Enter Address</label>
            <br>
            <textarea class="form-control" id="enteraddress" rows="3" required></textarea>
        </div>
        
    </form>
    <form class="regis">
       <h1> Details of the Course(Registration During Current semester)</h1>
       <table style="width:90%">
        <tr>
            <th>Sr. No.</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>L</th>
            <th>T</th>
            <th>P/D</th>
            <th>Credits</th>
          </tr>
          <tr>
            <td>1</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>2</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>3</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>4</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>6</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>7</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>8</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
       </table>
       <h3>Click on the "Choose File" button to upload a sign:</h3>
       <input type="file" id="myFile" name="filename">
       <h1>Results of Previous Semester</h1>
       <table style="width:90%">
        <tr>
            <th>Previous Semester Number</th>
            <th>SGPI</th>
            <th>CGPI</th>
            <th>Course(s) With F Grade ,If any
            </th>
          </tr>
          <tr>
            <td>1</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>2</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>3</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>4</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>6</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>7</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
          <tr>
            <td>8</td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
            <td><input type="text" class="form-control"> </td>
          </tr>
       </table>
       <h2>Student Declaration
     </h2>
     <p>    I hereby declare that the information furnished by me in this Registration Form is true and correct. I have not concealed any
        information. However, if any information furnished herein is incorrect or incomplete, I understand that I am liable to appropriate
        action and I also agree to forego my registration.</p>
       
        <div class="form-group mb">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Date</span>
            </div>
            <input type="date" class="form-control" id="date" 
                placeholder="Date" required>

        </div>
        <h3>Click on the "Choose File" button to upload a sign:</h3>
        <input type="file" id="myFile" name="filename">
    </form>
    <h1>Semester Registration Fee Details</h1>
    <table style="width:90%">
        <tr>
            <th>
                Amount
            </th>
            <th>Date of Payment</th>
            <th>SBI Collect Transaction Number:</th>
        </tr>
        <tr>
            
                <td><input type="number" class="form-control"> </td>
                <td><input type="date" class="form-control"> </td>
                <td><input type="text" class="form-control"> </td>
            
        </tr>
    </table>
    <h1>Undertaking for Payment/Clearance of Dues</h1>
    <p>I undertake to pay/clear the Dues, if any, found outstanding against my name at Library, Hostel, Accounts and any other
        Department/Section, as per the directions/notification of the authorities.</p>
        <h3>Click on the "Choose File" button to upload a sign:</h3>
        <input type="file" id="myFile" name="filename">
    <button type="submit" class="btn btn-primary">Submit</button>
</body>

</html>